@import "ui-variables";
@import '../node_modules/pulsar-select-list/select.less';

.bib-finder .item-type {
  color: @syntax-color-constant;
  margin-right: 5px;
  border: solid 1px;
  padding: .2em .4em;
  border-radius: 4px;
  vertical-align: baseline;
}

.bib-finder ol.list-group li.two-lines .secondary-line {
    white-space: pre-wrap;
}
